services:
  
  postgres:
    container_name: postgres
    image: postgres:18
    volumes:
      - '/Users/jhanna/git/shifty/vol/postgres:/var/lib/postgresql'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB} #optional (specify default database instead of $POSTGRES_DB)
    ports:
      - "5432:5432"
    restart: unless-stopped

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    volumes:
      - '/Users/jhanna/git/shifty/vol/pgadmin:/var/lib/pgadmin'
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    restart: unless-stopped

  rabbitmq:
    image: "rabbitmq:3-management"
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 15s
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/ # Persist data
    environment:
      RABBITMQ_DEFAULT_USER: myuser # Optional: change default user
      RABBITMQ_DEFAULT_PASS: mypassword # Optional: change default password


  consumer1:
    image: shifty_consumer:1
    container_name: consumer1
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      rabbitmq:
        condition: service_healthy	

  consumer2:
    image: shifty_consumer:1
    container_name: consumer2
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer1

  consumer3:
    image: shifty_consumer:1
    container_name: consumer3
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer2

  consumer4:
    image: shifty_consumer:1
    container_name: consumer4
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer3

  consumer5:
    image: shifty_consumer:1
    container_name: consumer5
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer4

  consumer6:
    image: shifty_consumer:1
    container_name: consumer6
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer5

  consumer7:
    image: shifty_consumer:1
    container_name: consumer7
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer6

  consumer8:
    image: shifty_consumer:1
    container_name: consumer8
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer7

  consumer9:
    image: shifty_consumer:1
    container_name: consumer9
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer8

  consumer10:
    image: shifty_consumer:1
    container_name: consumer10
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - POSTGRES_HOST=${POSTGRES_HOST}
    restart: unless-stopped
    depends_on:
      - consumer9

volumes:
  rabbitmq_data:
    driver: local

